<!DOCTYPE html>
<html>
    <head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
        <link rel='stylesheet' href='/css/style.css'>
        
    </head>

    <body>
       <div class="main-content">{{>header}}
           <p>This site was created by Ajay Prasad(a.k.a AJ).It uses data from mapbox.com and darksky.net</p>
        <img class="potrait"src="/img/me.jpg">
        </div>
        <p>{{>footer}}</p>
    </body>
</html>
